.input {
  padding: 8px 12px;
  width: 100%;

  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  background: #3d3d3d;
}

.input::placeholder {
  color: #c7c7c7;
  font-weight: 500;
}

.notValid {
  outline: 1px solid #d10808;
}

.notValid::placeholder {
  color: #d10808;
}

.label {
  cursor: pointer;
  padding-left: 28px;
}

.label input {
  display: none;
}

.label input:checked + span {
  color: #d10808;
  font-weight: 500;
}

.label span {
  position: relative;
}

.label span:before,
.label span:after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: -18px;
  top: 50%;

  border: 2px solid #fff;

  border-radius: 4px;

  transform: translate(-50%, -50%);
}

.label span:before {
  width: 10px;
  height: 10px;

  display: none;

  border-radius: 2px;

  background: #fff;
  left: -18px;
}

.label input:checked + span:before {
  display: block;
}

.outer {
  margin-bottom: 16px;
}

.taskLabel {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  font-size: 16px;
}

.taskLabel span {
  display: flex;
  align-items: center;
}

.outer:hover span:before {
  background-color: #f2f2f2;
}

.taskLabel input:checked + span {
  text-decoration: line-through;
}

.taskLabel span:before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  left: 0;
  top: 0;
  border-radius: 50%;

  border: 2px solid #fff;
  background-color: transparent;

  transition: all 0.3s ease-in-out;
  transform: translateX(-30%);
}

.taskLabel input {
  display: none;
}

.taskLabel svg {
  position: absolute;
  left: -1px;
  top: 6px;
  opacity: 0;

  transition: all 0.3s ease-in-out;
}

.taskLabel svg path {
  fill: none !important;

  transition: all 0.3s ease-in-out;
}

.outer:hover svg path {
  stroke: #b2b2b2;
}

.outer:hover .taskLabel svg,
.taskLabel input:checked ~ svg {
  opacity: 1;
}

.outer:hover input:checked ~ svg path {
  stroke: #fff;
}

.taskLabel input:checked ~ span::before {
  background-color: #2b593f;
  border-color: #2b593f;
}

.add {
  color: #767676;
}
