.item {
  width: 100%;
  padding: 10px 12px;
  display: flex;
  align-items: center;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.item.active {
  background: #232323;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.withIcon {
  padding-left: 10px;
  border-radius: 4px;
}

.withIcon:hover {
  background: #232323;
  color: #fff;
}

.withIcon .inner {
  padding-left: 8px;
}

.icon svg {
  width: 14px;
}

.item svg path {
  fill: #cdcdcd;
}

.inner {
  display: block;
  padding-left: 12px;
  width: 100%;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
