.sidebar {
  padding: 54px 12px 0 20px;
  height: 100%;
  max-width: 260px;
  width: 100%;

  border-right: 1px solid #606060;
}

.top {
  margin-bottom: 12px;
}

.mid {
  margin-bottom: 12px;
}

.add {
  color: #767676;
}
