.sidebar {
  padding: 54px 12px 0 20px;
  height: 100%;
  max-width: 220px;
  width: 100%;

  border-right: 1px solid #606060;
}

.top {
  margin-bottom: 12px;
}

.mid {
  margin-bottom: 12px;
}

.add {
  font-weight: 500;
  color: #767676;
  cursor: pointer;
}

.add svg {
  width: 10px;
  height: 10px;
}

.add svg path {
  stroke: #868686;

  transition: stroke 0.3s ease-in-out;
}

.add:hover svg path {
  stroke: #fff;
}
